/*
* Copyright 2015, 2016 Damian O'Rourke
* Email: damiano_rourke@hotmail.com
* Website: damianorourke.com
*
*  This file is part of Triple Crown Custom - TCC
    TCC is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    TCC is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with TCC.  If not, see <http://www.gnu.org/licenses/>.
*/
/* ==========================================================================
   TABLETS
   ========================================================================== */

/* ==========================================================================
   Ipad 1 + 2
   ========================================================================== */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.container, .container-fluid{padding: 0;}

#maincontent, #sidebar{display: block; float: none;}
#maincontent{width: 748px; height: 595px; padding: 0; padding-left: 20px;}
#sidebar{width: 440px; margin: 0 auto;}

.wrapperMobile{
  max-width: 748px;
  margin: 0 auto;
}

.buttonEmbroidery{margin: 20px auto;}
.ctaContainer{width: 320px; margin: 0 auto; min-height: 200px;}
.buttonEmbroideryNavy{clear: both; display: block; margin: 10px 35px;}
#showUserGuide{margin: 0 auto 20px auto; font-size: 16px;}

.col-md-9, .col-md-3{padding: 0;}
#pullRightSidebar{width: 440px; margin: 0 auto;}

/*// home page*/
.mobileMarginTop{margin-top: 0px;}
.primary-navigation{padding: 24px;}
.container, .container-fluid{padding: 0;}
.caption, .thumbnail{padding: 2px !important; font-size: 21px;}
.caption h1{font-size: inherit;}
/*// product selection*/
.category_list{margin: 0 35px;}
/*// individual item page*/
.post-thumbnail{top: 0px !important;}
.buttonHolder{display: block; top: 0px; float: none;}
.floatRight{float: none;}


.hiddenMobile{display: none;}

.embroideryRing{width: 748px;height: 528px;}

#topMenuWrap{margin: 0 auto;}

/* ===========================================================================
      Rug color page
    ========================================================================== */
#window{display: none;}
.bread{display: none;}
.hiddenDesktop{display: block;}
.gulfAdj{top: 0px;}
.bodyColorList li{width: 40px; height: 40px;}


/* ===========================================================================
      PIMLICO AND GULF
    ========================================================================== */

.pimlicoShoulderRegionImageHolder{left: 0px; top: -60px; width: 97px; height: 100px;}
.pimlicoCenterRegionImageHolder{left: 9px; top: 155px; width: 97px; height: 73px;}
.pimlicoHipRegionImageHolder{left: 25px; top: 190px; width: 97px; height: 195px;}
#pimlicoNeckRegionImage, #centerRegionImage, #hipRegionImage, #shoulderRegionImage{width: 97px; height: 76px;}
.pimlicoNeckRegionImageHolder{left: 4px; top: 102px;}

.gulfNeckRegionImageHolder{left: 4px; top: 102px;}

/* ===========================================================================
      HOLLYWOOD
    ========================================================================== */

.hollywoodShoulderRegionImageHolder{left: 45px; top: -45px; width: 97px; height: 100px;}
.hollywoodCenterRegionImageHolder{left: 57px; top: 180px; width: 97px; height: 73px;}
.hollywoodHipRegionImageHolder{left: 33px; top: 220px; width: 97px; height: 195px;}


/* ===========================================================================
      EXTENDED
    ========================================================================== */
.extendedNeckRegionImageHolder{left: 76px; top: 160px;   }
.extendedShoulderRegionImageHolder{left: 60px; top: -56px; width: 97px; height: 100px;}
.extendedCenterRegionImageHolder{left: 45px; top: 195px; width: 97px; height: 73px;}
.extendedHipRegionImageHolder{left: 20px; top: 222px; width: 97px; height: 195px;}


/* ===========================================================================
      SANTA ANITA
    ========================================================================== */
.santaShoulderRegionImageHolder{left: 60px; top: -25px; width: 97px; height: 100px;}
.santaCenterRegionImageHolder{left: 50px; top: 205px; width: 97px; height: 73px;}
.santaHipRegionImageHolder{left: 40px; top: 235px; width: 97px; height: 195px;}
.santaNeckRegionImageHolder{left: 60px; top: 160px;}


/* ===========================================================================
      BELMONT 200
    ========================================================================== */

.belmontShoulderRegionImageHolder{left: 24px; top: -60px; width: 97px; height: 100px;}
.belmontCenterRegionImageHolder{left: -22px; top: 175px; width: 97px; height: 73px;}
.belmontHipRegionImageHolder{left: 8px; top: 196px; width: 97px; height: 195px;}
.belmontNeckRegionImageHolder{left: 23px; top: 120px;}    

/* ===========================================================================
      EMBROIDERY PAGE
    ========================================================================== */

.containerSticky{max-width: 400px;}
input[type="button"].iconPlus {padding: 10px 0;font-size: 36px;}
.eight, .eightTwo{width: 15.5%;height: auto;}
.mini-block{width: 40px; height: 40px; margin-right: 2px;}
#maincontentTwo{padding-left: 20px;}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.container, .container-fluid{padding: 0;}

#textEmbroidery{ height: 60px; }
#sidebar{width: 20%;}
#maincontent{width: 748px; height: 595px; padding: 0; padding-left: 20px;}

  /*// product selection*/
  .category_list{width: 260px; height: 400px; display: inline-block; float: left; margin: 20px;}
  .category_list h3{margin: 10px 0px 10px 0px;}

.textBox{
  position: static;
  left: 0px;
}

.hiddenMobile{display: none;}

.embroideryRing{
  width: 748px;
  height: 528px;
}

#topMenuWrap{
  margin: 0 auto;
}


/* ===========================================================================
      Rug color page
    ========================================================================== */
.bodyColorList li {width: 40px;height: 40px;}
#sidebar{padding: 0;}
.bread{display: none;}
.hiddenDesktop{display: block;}
#window{display: none;}
.gulfAdj{top: 0px;}
.innerLoading{width: 100%; height: 70%;}


/* ===========================================================================
      PIMLICO AND GULF
    ========================================================================== */

.pimlicoShoulderRegionImageHolder{
  left: 0px; top: -60px; width: 97px; height: 100px;
}

.pimlicoCenterRegionImageHolder{left: 9px; top: 155px; width: 97px; height: 73px;}

.pimlicoHipRegionImageHolder{left: 25px; top: 190px; width: 97px; height: 195px;}

#pimlicoNeckRegionImage, #centerRegionImage, #hipRegionImage, #shoulderRegionImage{width: 97px; height: 76px;}

.pimlicoNeckRegionImageHolder{left: 4px; top: 102px;}

.gulfNeckRegionImageHolder{left: 4px; top: 102px;}

/* ===========================================================================
      HOLLYWOOD
    ========================================================================== */

.hollywoodShoulderRegionImageHolder{left: 45px; top: -45px; width: 97px; height: 100px;}
.hollywoodCenterRegionImageHolder{left: 57px; top: 180px; width: 97px; height: 73px;}
.hollywoodHipRegionImageHolder{left: 33px; top: 220px; width: 97px; height: 195px;}


/* ===========================================================================
      EXTENDED
    ========================================================================== */
.extendedNeckRegionImageHolder{left: 76px; top: 160px;}
.extendedShoulderRegionImageHolder{left: 60px; top: -56px; width: 97px; height: 100px;}
.extendedCenterRegionImageHolder{left: 45px; top: 195px; width: 97px; height: 73px;}
.extendedHipRegionImageHolder{left: 20px; top: 222px; width: 97px; height: 195px;}

/* ===========================================================================
      SANTA ANITA
    ========================================================================== */
.santaShoulderRegionImageHolder{left: 60px; top: -25px; width: 97px; height: 100px;}
.santaCenterRegionImageHolder{left: 50px; top: 205px; width: 97px; height: 73px;}
.santaHipRegionImageHolder{left: 40px; top: 235px; width: 97px; height: 195px;}
.santaNeckRegionImageHolder{left: 60px; top: 160px;}


/* ===========================================================================
      BELMONT 200
    ========================================================================== */

.belmontShoulderRegionImageHolder{left: 24px; top: -60px; width: 97px; height: 100px;}
.belmontCenterRegionImageHolder{left: -22px; top: 175px; width: 97px; height: 73px;}
.belmontHipRegionImageHolder{left: 8px; top: 196px; width: 97px; height: 195px;}
.belmontNeckRegionImageHolder{left: 23px; top: 120px;}    

/* ===========================================================================
      EMBROIDERY PAGE
    ========================================================================== */

.containerSticky{max-width: 400px;}
input[type="button"].iconPlus {padding: 10px 0;font-size: 36px;}
.eight, .eightTwo{width: 15.5%;height: auto;}
.mini-block{width: 40px; height: 40px; margin-right: 2px;}
.wrapperMobileEmbroidery{max-width: 1024px; margin: 0 auto;}
.tryOn{float: right; margin: 20px 0;}

}


/* ==========================================================================
   Lap tops
   ========================================================================== */


/* ----------- Genera laptop design----------- */
@media screen 
  and (min-width: 768px) 
  and (max-width: 1200px) { 

.container, .container-fluid{padding: 0;}
.primary-navigation{padding: 24px;}
#sidebar{width: 20%;}
#maincontent{clear: both; float: none; display: block; width: 748px; height: 595px; padding: 0; padding-left: 20px;}

  /*// product selection*/
  .category_list{width: 260px; height: 400px; display: inline-block; float: left; margin: 20px;}
  .category_list h3{margin: 10px 0px 10px 0px;}

.textBox{
  position: static;
  left: 0px;
}

.hiddenMobile{display: none;}

.embroideryRing{
  width: 748px;
  height: 528px;
}

#topMenuWrap{
  margin: 0 auto;
}


/* ===========================================================================
      Rug color page
    ========================================================================== */
.bodyColorList li {width: 40px;height: 40px;}
#sidebar{padding: 0;}
.bread{display: none;}
.hiddenDesktop{display: block;}
#window{display: none;}
.gulfAdj{top: 0px;}
.innerLoading{width: 100%; height: 70%;}


/* ===========================================================================
      PIMLICO AND GULF
    ========================================================================== */

.pimlicoShoulderRegionImageHolder{
  left: 0px; top: -60px; width: 97px; height: 100px;
}

.pimlicoCenterRegionImageHolder{left: 9px; top: 155px; width: 97px; height: 73px;}

.pimlicoHipRegionImageHolder{left: 25px; top: 190px; width: 97px; height: 195px;}

#pimlicoNeckRegionImage, #centerRegionImage, #hipRegionImage, #shoulderRegionImage{width: 97px; height: 76px;}

.pimlicoNeckRegionImageHolder{left: 4px; top: 102px;}

.gulfNeckRegionImageHolder{left: 4px; top: 102px;}

/* ===========================================================================
      HOLLYWOOD
    ========================================================================== */

.hollywoodShoulderRegionImageHolder{left: 45px; top: -45px; width: 97px; height: 100px;}
.hollywoodCenterRegionImageHolder{left: 57px; top: 180px; width: 97px; height: 73px;}
.hollywoodHipRegionImageHolder{left: 33px; top: 220px; width: 97px; height: 195px;}


/* ===========================================================================
      EXTENDED
    ========================================================================== */
.extendedNeckRegionImageHolder{left: 76px; top: 160px;}
.extendedShoulderRegionImageHolder{left: 60px; top: -56px; width: 97px; height: 100px;}
.extendedCenterRegionImageHolder{left: 45px; top: 195px; width: 97px; height: 73px;}
.extendedHipRegionImageHolder{left: 20px; top: 222px; width: 97px; height: 195px;}

/* ===========================================================================
      SANTA ANITA
    ========================================================================== */
.santaShoulderRegionImageHolder{left: 60px; top: -25px; width: 97px; height: 100px;}
.santaCenterRegionImageHolder{left: 50px; top: 205px; width: 97px; height: 73px;}
.santaHipRegionImageHolder{left: 40px; top: 235px; width: 97px; height: 195px;}
.santaNeckRegionImageHolder{left: 60px; top: 160px;}


/* ===========================================================================
      BELMONT 200
    ========================================================================== */

.belmontShoulderRegionImageHolder{left: 24px; top: -60px; width: 97px; height: 100px;}
.belmontCenterRegionImageHolder{left: -22px; top: 175px; width: 97px; height: 73px;}
.belmontHipRegionImageHolder{left: 8px; top: 196px; width: 97px; height: 195px;}
.belmontNeckRegionImageHolder{left: 23px; top: 120px;}    

/* ===========================================================================
      EMBROIDERY PAGE
    ========================================================================== */

.containerSticky{max-width: 400px;}
input[type="button"].iconPlus {padding: 10px 0;font-size: 36px;}
.eight, .eightTwo{width: 15.5%;height: auto;}
.mini-block{width: 40px; height: 40px; margin-right: 2px;}
.wrapperMobileEmbroidery{max-width: 1024px; margin: 0 auto;}


}




/* ==========================================================================
   GENERAL RESPONSIVENESS
   ========================================================================== */

@media screen and (max-width: 767px){

html, body, .site, .home, .page, .page-template, .page-template-home_page, .page-template-home_page-php, .masthead-fixed, .full-width, .singular, .grid{min-width: 100% !important; max-width: 100% !important;}
.container, .container-fluid{padding: 0;}
/*// home page*/
.primary-navigation{padding: 24px;}

/*//breadcrumb/*/
.bread, .breadTwo{display: none;}
.breadTwoContainer{min-height: 1px;}
.hiddenDesktop{display: block;}
/*// rug page*/
#sidebar{display: block; float: none; padding: 0px 20px; margin-top: 50px;} 
#maincontent{display: block; float: none; padding-left: 20px; clear: both;}
#window{display: none;}
.bodyColorList li{width: 40px; height: 40px;}
/*//breadcrumb/*/
.bread, .breadTwo{display: none;}
.breadTwoContainer{min-height: 1px;}
.hiddenDesktop{display: block;}
.innerLoading{width: 100%; height: 70%;}
/*    .gulfAdj, .santaAdj{top: 0px;}*/
.mini-block{width: 40px; height: 40px; margin-right: 2px;}

/*// posts etc*/
.full-width.singular .site-content .hentry .post-thumbnail img {
      margin-top: 12px;
}

.entry-title, h1.page-title{overflow: visible;}

.buttonHolder{float: left; display: block; top: 0px;}
.floatRight{float: none;}

    /*// over all site*/
.mobileMarginTop{margin-top: 25px;}
.primary-navigation{padding: 24px;}


/* ===========================================================================
    Bootstrap Overrides
========================================================================== */
.col-md-9, .col-md-3, .col-md-6, .col-md-4, .col-md-5, .col-md-7, .col-md-8, .col-md-9 .col-md-10, .col-md-11, .col-md-12, .col-md-1, .col-md-2{padding: 0;}
#pullRightSidebar{padding: 0;}
header{padding: 20px 0 20px 0;}

/*for the embroidery selection page*/

.gulfAdj, .santaAdj{top: 0px;}
#showUserGuide, #showUserGuideTwo{margin: 0; font-size: 21px;}

/*// product selection*/
.category_list{width: 250px; height: 400px; display: block;}
.category_list h3{margin: 10px;}

.wrapperMobile{max-width: 320px; margin: 0 auto;}
#maincontent{max-width: 320px; height: 239px; margin-bottom: 20px;}
#sidebar, #sidebarTwo{width: 100%;}
.title{font-size: 28px;}

h1.title{font-size: 28px; display: block;}
/*Text Page changing the image sizes and the positions*/
.backFromEmbroidery{width: 45px;height: 36px;}

/* ===========================================================================
      PIMLICO and GULF STREAM
    ========================================================================== */

#pimlicoNeckRegionImage, #centerRegionImage, #hipRegionImage, #shoulderRegionImage {width: 45px;height: 36px;}

/*// shoulder*/
.pimlicoShoulderRegionImageHolder{width: 45px;height: 36px;top: -18px;}

/*// hip*/
.pimlicoHipRegionImageHolder{width: 45px;height: 36px;left: 8px;top: 85px;}

/*// center*/
.pimlicoCenterRegionImageHolder{width: 45px;height: 36px;left: 8px;top: 60px;}

/*// Neck*/
.pimlicoNeckRegionImageHolder{width: 45px;height: 36px;left: 0px;top: 40px;}

.gulfNeckRegionImageHolder{width: 45px; height: 56px; left: -3px; top: 29px;}

/*#gulfNeckRegionImage img{margin-top: 0 !important;}*/

.some{margin-top: 3px; margin-left: 5px;}

.addToGulfNeck{
    margin-top: 20px;
    margin-left: 10px;
}

/* ===========================================================================
      HOLLYWOOD
    ========================================================================== */


.addThisToHollywoodNeck{top: -17px !important;left: 26px !important;}

.hollywoodShoulderRegionImageHolder{width: 45px;height: 36px;top: -18px;left: 20px;}

.hollywoodHipRegionImageHolder{width: 45px;height: 36px;top: 80px;left: 8px;}

.hollywoodCenterRegionImageHolder{width: 45px;height: 36px;top: 70px;left: 20px;}

.hollywoodNeckRegionImageHolder{width: 45px;height: 36px;top: 15px;left: -4px;}

/* ===========================================================================
      EXTENDED
    ========================================================================== */

#extendedNeckRegionImage{width: 45px;height: 36px;}

/*// shoulder*/
.extendedShoulderRegionImageHolder{width: 45px;height: 36px;top: -18px; left: 20px;}

/*// hip*/
.extendedHipRegionImageHolder{width: 45px;height: 36px;left: 8px;top: 85px;}

/*// center*/
.extendedCenterRegionImageHolder{width: 45px;height: 36px;left: 15px;top: 75px;}

/*// Neck*/
.extendedNeckRegionImageHolder{width: 45px;height: 36px;left: 13px;top: 50px;}

.extendedRotateToAdd{display: block; margin-top: 5px; margin-left: 10px;}


/* ===========================================================================
      SANTA ANITA
    ========================================================================== */

#santaNeckRegionImage{width: 45px;height: 36px;}

/*// shoulder*/
.santaShoulderRegionImageHolder{width: 45px;height: 36px;top: -7px; left: 20px;}

/*// hip*/
.santaHipRegionImageHolder{width: 45px;height: 36px;left: 16px;top: 85px;}

/*// center*/
.santaCenterRegionImageHolder{width: 45px;height: 36px;left: 15px;top: 75px;}

/*// Neck*/
.santaNeckRegionImageHolder{width: 45px;height: 36px;left: 13px;top: 50px;}

.santaRotateToAdd{display: block; margin-top: 15px !important; margin-left: 5px;}


/* ===========================================================================
      BELMONT 200
    ========================================================================== */

#belmontNeckRegionImage{width: 45px;height: 36px;}

/*// shoulder*/
.belmontShoulderRegionImageHolder{width: 45px;height: 36px;top: -23px; left: 9px;}

/*// hip*/
.belmontHipRegionImageHolder{width: 45px;height: 36px;left: -4px;top: 76px;}

/*// center*/
.belmontCenterRegionImageHolder{width: 45px;height: 36px;left: 0px;top: 63px;}

/*// Neck*/
.belmontNeckRegionImageHolder{width: 45px;height: 36px;}
#belmontNeckRegionImageHolder{height: 65px; left: 6px; top: 30px;}

.belmontTwoRotateToAdd{display: block; margin-top: 5px !important; margin-left: 15px;}


/* ===========================================================================
  Embroidery page
========================================================================== */

  .hiddenMobile{display: none;}
  .embroideryRing{width: 300px; height: 230px; padding: 5px;}
  .boxOrig{font-size: 10.5px; line-height: 20px;}
  .closeMenu{margin-top: 3px; margin-right: 3px; font-size: 16px; width: 26px; height: 26px; border: 1px solid #B8A14F;}
  .wrapCloseMenu{margin: 0; min-height: 20px;}
  .button_icon{padding-bottom: 0; margin-bottom: 10px; -webkit-border-bottom-right-radius: 14px; -webkit-border-top-right-radius: 14px;}
  .goldText{margin: 0;}
  .wrapperMobileEmbroidery{width: 320px;}
  #maincontentTwo{padding-left: 20px; margin-bottom: 0;}
  #sidebarTwo{padding: 0; padding-left: 20px;}
  .tryOn{font-size: 18px; font-weight: 100; width: 300px; float: right;}
  .fontOptsContainer{margin: 0; width: 100%;}
/*  .buttonEmbroideryNavy{clear: both; display: block; margin: 10px 44px 0px 44px;}*/
  .buttonEmbroidery{margin: 20px auto;}
  .ctaContainer{clear: both; width: 200px; margin: 10px auto 0px auto; min-height: 140px;}
  .bigGoldBoxTwo p{font-size: 14px; left: 10px;}
  .bigBlueBoxTwo p{font-size: 30px; top: -10px; left: -18px;}
  .biggoldBoxTwo {left: -30px; width: 135px;}
  .span{font-size: 30px; padding-right: 6px;}
  .buttonEmbroideryNavy{width: 80px; height: 120px; margin: 10px; padding: 0; text-align: center}
  span.a{top: 6px !important; left: 3px;}
  span.b{top: 15px; left: 3px;}
  #goBack{padding-left: 20px;}
  .greyBar, .blueBar{margin-top: 20px; background-color: transparent;}
  #upImage{width: 100px; height: auto;}


/* ===========================================================================
  Order Summary
========================================================================== */

.bodyColorHalf, .bodyColorHalfBold{padding-left: 5px;}
.bodyColorHalfRight{text-align: right;}
.bodyColorQuantity{padding: 0;}
.bodyColorSelect{padding-top: 50px; padding-left: 0px;}
input[type="submit"].orderButtonRight{float: none;}
 
/* ===========================================================================
  Cart page
========================================================================== */
.cartImageHolder{width: 100%; float: none; display: block;}
.cartHeadingHolder{width: 100%; float: none; display: block;}
.cartHeadingHolder{border-left: none; border-top: 1px solid #B8A14F;}


}





@media screen all and (min-width: 751px) and (max-width: 766px){
  .primary-navigation{padding: 24px;}
}


/*
NOTE:
the application adds a rotate class to the image.
Desktop rotate and mobile rotate are the same.
for smaller devices display the image as a block and determine the margin (top and left) this will move it over to the desired position*/